<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/imageshow.css" />
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>标注</title>
</head>
<body>



{% include 'navbar.html' %}
<div class="container">
    {% if img %}
        <div class="button-group">
            <button id="btn-mode1" class="btn btn-success">模式1</button>
            <button id="btn-mode2" class="btn btn-success">模式2</button>
            <button id="btn-mode3" class="btn btn-success">模式3</button>
            <button id="btn-mode4" class="btn btn-success">模式4</button>
        </div>
{#      模式1  系统预测的#}
        <div id="mode1" class="mode">
            <div class="mode-type">
                模式1（系统预测）：
            </div>
            <div class="mode1-tag">
                <label>标签：</label>
                    {{ img.predict_tag }}
            </div>
        </div>

{#     模式2   随机的#}
        <div id="mode2" class="mode" style="display: none;">
            <div class="mode-type">
                模式2（系统随机预测）：
            </div>
            <div class="mode1-tag">
                <label>标签：</label>
                    {{ random_tag.tag_description }}
            </div>
        </div>

{#        模式3 别人的预测#}
        <div id="mode3" class="mode3" style="display: none;">
            <div class="mode-type">
                模式3（查看他人标签）：
            </div>
            <div class="mode3-others">
                <table class="table table-hover" style="margin-bottom: 0;">
                    <tr>
                        <td>标注者</td>
                        <td>标签</td>
                    </tr>
                {% for match in others_matchs %}
                    <tr>
                        <td>{{ match.matchup_user.user_name }}</td>
                        <td>{{ match.matchup_tag }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>

        {#        模式4  取最多的别人的预测#}
        <div id="mode4" class="mode" style="display: none;">
            <div class="mode-type">
                模式4（最多被选择的标签）：
            </div>
            <div class="mode1-tag">
                <label>标签：</label>
                {{ max_tag.tag_description }}
            </div>
        </div>


        <div class="choseTag-from" >
            <form  method="post" action="/tagChose/">
                {% csrf_token %}
                <div class="predict-img">
                    <img src="/media/{{ img.img_address }}" />
                </div>
{#                <div class="predict-tag">#}
{#                    <label name="sys_tag">系统标签</label>#}
{#                    {{ img.predict_tag }}#}
{#                </div>#}
                <div class="budget">
                    <label name="img_budget">报酬</label>
                    {{ img.img_budget }}元
                </div>
                <div class="user-tag">
                    <input type="hidden" name="img" value="{{ img.img_address }}"/>
                    <label class="user-tag-label" name="tag">个人标签</label>
                    <input class="user-tag-input" name="tag" />
                </div>
                 <br>
                    <button class="user-btn btn" type="submit" >确定/下一张</button>
            </form>
        </div>
    {% else %}
        <div style="text-align: center; padding-top: 200px;">
            <a href="/mainpage/" >
            <h3>已经标记完所有图片,返回任务选择。。。</h3>
            </a>
        </div>
    {% endif %}
</div>

</body>
<script>
    $(function(){
        $("#btn-mode1").on("click",(function() {
            $("#mode1").show();
            $("#mode2").hide();
            $("#mode3").hide();
            $("#mode4").hide();
        }))
        $("#btn-mode2").on("click",(function() {
            $("#mode1").hide();
            $("#mode2").show();
            $("#mode3").hide();
            $("#mode4").hide();
        }))
        $("#btn-mode3").on("click",(function() {
            $("#mode1").hide();
            $("#mode2").hide();
            $("#mode3").show();
            $("#mode4").hide();
        }))
        $("#btn-mode4").on("click",(function() {
            $("#mode1").hide();
            $("#mode2").hide();
            $("#mode3").hide();
            $("#mode4").show();
        }))
    })
</script>
</html>